/* Font */
@import url("https://use.typekit.net/kja4hep.css");

/* Keyframes : background position*/
@keyframes defil {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 3840px;
  }
}

/*rotation pokeball*/
@keyframes pokeball {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

/* Default style */
html,
body {
  background: url("https://images4.alphacoders.com/574/thumb-1920-574726.jpg");
  background-repeat: no-repeat;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: repeat-x;
  animation: defil 10s linear infinite;
  user-select: none;
}

kbd,
button,
.keys {
  font-family: "lores-12", sans-serif;
}

/* BODY */

/* Toggle dark theme */
.dark-theme {
  background: url("https://i.imgur.com/3FA4btA.png");
}

/* Dark theme button */
button {
  background-color: transparent;
  color: #000000;
  padding: 1rem 1rem;
  font-size: 2rem;
  margin: 1rem 0rem 0rem 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  border-color: #000000;
}

button:hover {
  background-color: #b1b1b1;
  color: #000000;
}

/* Title */
h1 {
  text-align: center;
  font-family: "lores-12", sans-serif;
  font-weight: bold;
  font-size: 8rem;
  color: #000000;
  margin-bottom: 7rem;
}

/* Drum pad */
.keys {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
  width: 120rem;
}

/* Drum pad buttons */
.key {
  border: 0.4rem solid #000000;
  border-radius: 6rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 36rem;
  text-align: center;
  color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0 0 0.5rem #ffffff;
  position: relative;
}

.key .pokeball {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 80px;
  animation: pokeball 1s linear infinite;
}

/* Button key */
kbd {
  display: block;
  font-size: 4rem;
}

/* Sound name */
.sound {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #000000;
}

/* animation when button pressed */
.playing {
  transform: scale(1.1);
  border-color: #faff00;
  border-radius: 10rem;
  box-shadow: 0 0 1rem #faff00;
}

/* characters */
.sacha {
  background-image: url("https://files.gamebanana.com/img/ico/sprays/animated_bike.gif");
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: contain;
  text-align: center;
  margin-top: 14rem;
}

.latias {
  position: absolute;
  top: 9rem;
  right: 20rem;
  background-image: url("https://vignette.wikia.nocookie.net/pokemon/images/3/3d/Latias_BW.gif");
  width: 220px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: contain;
}
